<p>
  <strong>Image:</strong> <br/>
  <%= image_tag(@image.url) %>

  <%= render partial: 'tags', locals: { image: @image } %>
  <%= render partial: 'deletebutton', locals: { image: @image } %>

  <%= simple_form_for @image do |f| %>
    <%= f.input :url %>
    <%= f.input :tag_list, label: 'Tags', hint: 'Separate with commas' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</p>
